*{
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}
html{
	
	font-family: 'Robot',sans-serif;
}
ul{
	margin-right:60px;
}

li{
	list-style: none;
}
body{
	background-color: #fff;
}
a{
	text-decoration: none;
}
.App{
	margin-bottom: 40px;
}

.progress-container {
	position: fixed;
	top: 0px;
	
	width: 100%;
	height: 4px;

	
	z-index: 1;
	left: 0;
	transition: 0.3s;
  }
  
  .progress-bar {
	
	height: 4px;
	background-image: linear-gradient(to left,rgb(34, 30, 255),rgb(16, 0, 160));
	width: 0%;
	z-index: 1;
	top: 0;
	
  }
 
  @media only screen and (max-width: 768px){
	.progress-container,.progress-bar {
	  display: block;
	  top: 0;
	}
	
	
		
	}
.navbar{
	left: 0;
	top: 0;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
   
} 

.navBarBtn{
	display: none;
	
}

.navBarBtn .bar1{
	display: block;
	width: 27px;
	height: 2px;
	margin: 5px auto;
	background-color: #2522cf;
	transition: all 0.3s ease-in-out;
	right: 0;
	margin-top: 0;
	
}

.navBarBtn .bar2{


	display: block;
	width: 23px;
	height: 2px;
	margin: 5px auto;
	background-color: #2522cf;
	transition: all 0.2s ease-in-out;
	margin-right: 0;
	margin-top: 0;
}
.navBarBtn .bar3{
	display: block;
	width: 17px;
	height: 2px;
	margin: 5px auto;
	background-color: #2522cf;
	transition: all 0.3s ease-in-out;
	margin-right: 0;
	margin-top: 0;
}
.navBarBtn .bar{
   border-radius: 30%;
 
}
.nav-menu{
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	text-align: center;

}
.nav-item{
	margin-left: 2rem;
}
.resume .nav-link{
    padding: 5px 7px 5px 7px;
	margin-top: 5px;
	border-radius:7px;
		
	color:white;
	background-image:linear-gradient(to right,#0048a1,#0063db);
} 
.resume .nav-link:hover{
	color:white;
	background-image:linear-gradient(to left,#0048a1,#0063db);
}


.nav-link{
	font-size: 16px;
	font-weight:500;
	color:#555f6e;
}

.nav-link:hover{
	color:#482ff7;
}
.nav-logo img{
	
	width: 40px;
	height: 40px;
	margin-left: 60px;
}




@media only screen and (max-width: 768px){
	.navbar{
		position: fixed;
		top: 0px;
		background-color: rgb(255, 255, 255);
		width: 100%;
		box-shadow:10px 5px 20px #faf8ff;
		z-index: 1;
		
	}
	.resume .nav-link{
		margin: 0 auto;
		width: 100px;
	}
	 .nav-menu{
		 z-index: 1;
	 	position: fixed;
	 	top:60px;
	 	left: -110%;
		 padding-right: 15px;
		 padding-left: 15px;
		 margin-right: auto;
		 margin-left: auto;
		 width: 100%;
	 	flex-direction: column;
	 	background-color: #fff;
		 
	 	border-radius: 0px 0px 20px 20px;
	 	text-align: center;
	 	transition: 0.3s;
	 	box-shadow:10px 20px 20px #f1f4fd;
		background-color: rgb(255, 255, 255);
		 
	 }

	 .nav-menu.active{
	 	left: 0;
	 }
	 .nav-item{
	 	margin: 2.5rem 0;
	 }
	.navBarBtn{
		margin-right: 30px;
	 	display: block;
	 	cursor: pointer;
		
	 }
  
  .navBarBtn.active .bar:nth-child(2){
  	 opacity: 0;
  }


  .navBarBtn.active .bar:nth-child(1){
	width:25px;
	  transform:translateY(8px) rotate(45deg);
}

.navBarBtn.active .bar:nth-child(3){
	width:25px;
	  transform:translateY(-6px) rotate(-45deg);
}
   
.nav-logo img{
	width: 35px;
	height: 35px;
	margin-left: 15px;
}

}